//mixins

@mixin istokReg
  font-family: "Istok Web", sans-serif
  font-weight: normal
  font-style: normal

@mixin istokBold
  font-family: "Istok Web", sans-serif
  font-weight: bold
  font-style: normal

@mixin myriadReg
  font-family: "Myriad Pro", sans-serif
  font-weight: normal
  font-style: normal

@mixin myriadBold
  font-family: "Myriad Pro", sans-serif
  font-weight: bold
  font-style: normal

@mixin sansReg
  font-family: "Open Sans", sans-serif
  font-weight: normal
  font-style: normal

@mixin sansBold
  font-family: "Open Sans", sans-serif
  font-weight: normal
  font-style: normal

//variables

$light: #FFFFFF
$black: #000000
$dark: #222222
$sky: rgb(23, 190, 187)
$orange: #ff6600
$grey: #dddddd

